<div class="flex flex-col w-full overflow-auto bg-card w-100">
    <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg">
        <mat-icon
            class="icon-size-7 text-current"
            [svgIcon]="'heroicons_solid:cog'"
        ></mat-icon>
        <div class="ml-3 text-2xl font-semibold tracking-tight">
            Permissions
        </div>
    </div>
    <div class="w-80 max-w-3xl">
        <!-- Form -->
        <form [formGroup]="form">
            <!-- Section -->

            <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                <!-- Name -->
                <div class="sm:col-span-4">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Username</mat-label>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:user'"
                            matPrefix
                        ></mat-icon>
                        <input [formControlName]="'userName'" matInput />
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</div>
