<div class="m-3">
    <div
        class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-6 gap-1"
    >
        <mat-card
            class="w-5.1/12 rounded-2xl col-span-4 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-2"
        >
            <div class="grid grid-cols-1">
                <div class="col-auto">
                    <div class="header-info flex justify-between items-center">
                        <div class="userinfo">
                            <div class="avatar">
                                <img />
                            </div>
                            <div class="username-and-time">
                                <div class="username">
                                    <h3>Dummy</h3>
                                </div>
                                <div class="time">
                                    <p>{{ today | date }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu"
                            >
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Update</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="post-body px-6">
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Donec euismod, nisl eget
                                consectetur sagittis, nisl nisi consectetur
                                nisi, eget consectetur nisi nisi consectetur
                                nisi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card
            class="w-5.1/12 rounded-2xl col-span-4 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-2"
        >
            <div class="grid grid-cols-1">
                <div class="col-auto">
                    <div class="header-info flex justify-between items-start">
                        <div class="userinfo">
                            <div class="avatar">
                                <img />
                            </div>
                            <div class="username-and-time">
                                <div class="username">
                                    <h3>Dummy</h3>
                                </div>
                                <div class="time">
                                    <p>{{ today | date }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu"
                            >
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Update</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="post-body px-6">
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Donec euismod, nisl eget
                                consectetur sagittis, nisl nisi consectetur
                                nisi, eget consectetur nisi nisi consectetur
                                nisi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card
            class="w-5.1/12 rounded-2xl col-span-4 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-2"
        >
            <div class="grid grid-cols-1">
                <div class="col-auto">
                    <div class="header-info flex justify-between items-start">
                        <div class="userinfo">
                            <div class="avatar">
                                <img />
                            </div>
                            <div class="username-and-time">
                                <div class="username">
                                    <h3>Dummy</h3>
                                </div>
                                <div class="time">
                                    <p>{{ today | date }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu"
                            >
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Update</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="post-body px-6">
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Donec euismod, nisl eget
                                consectetur sagittis, nisl nisi consectetur
                                nisi, eget consectetur nisi nisi consectetur
                                nisi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
